.links {
    text-decoration: none;
    color: #FF8C8C;
    margin: 10px;
}

#sidebar>ul {
    padding-inline-start: 5px;
}

#sidebar>ul>li>h3 {
    color: #FF5D5D;
}

#sidebar {
    width: 30%;
    display: inline-block;
    margin: 5px;
    text-align: left;
}

.yaziarkasi {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    margin: 5px;
}

.yaziarkasi>article {
    margin: 5px;
}